@tailwind base;
@tailwind components;
@tailwind utilities;

body html {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
html::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

@layer base {
  :root {
		--pure: #ffffff;
    --background: #FFFFFF;
    --foreground: #0C0B0E;
    --card: #FFFFFF;
    --card-foreground: #0C0B0E;
    --popover: #FFFFFF;
    --popover-foreground: #0C0B0E;
    --primary: #D6175F;
    --primary-foreground: #FCFAFC;
    --secondary: #7c7c82;
    --secondary-foreground: #1E1B1F;
    --muted: #E0E0E6;
    --muted-foreground: #9F9AA8;
    --accent: #E0E0E6;
    --accent-foreground: #1E1B1F;
    --destructive: #F64A5F;
    --destructive-foreground: #FCFCFD;
    --border: #D8D8DE;
    --input: #D8D8DE;
    --ring: #D6175F;
    --radius: 0.3rem;
  }

  .dark {
		--pure: #000000;
    --background: #161419;
    --foreground: #F5F5F7;
    --card: #1F1D24;
    --card-foreground: #F5F5F7;
    --popover: #161619;
    --popover-foreground: #F5F5F7;
    --primary: #D6175F;
    --primary-foreground: #FCFAFC;
    --secondary: #3f3d4a;
    --secondary-foreground: #FCFCFD;
    --muted: #2a282d;
    --muted-foreground: #A3A3B5;
    --accent: #232229;
    --accent-foreground: #FCFCFD;
    --destructive: #F64A5F;
    --destructive-foreground: #FCF0F2;
    --border: #2B2936;
    --input: #2B2936;
    --ring: #D6175F;
  }
}
